parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     harvestclouddemo
    database_user:     harvestclouddemo
    database_password: harvestclouddemo

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt

    debug_toolbar:          true
    debug_redirects:        false
    use_assetic_controller: true

    google_analytics_key:
    google_api_key:

    payment.stripe.secret_key:
    payment.stripe.publishable_key:
    payment.stripe.client_id:

