security:
    encoders:
        FOS\UserBundle\Model\UserInterface: sha512

    role_hierarchy:
        ROLE_ADMIN:       ROLE_USER
        ROLE_SUPER_ADMIN: ROLE_ADMIN

    providers:
        fos_userbundle:
            id: fos_user.user_provider.username

    firewalls:
        main:
            pattern: ^/
            form_login:
                provider: fos_userbundle
                csrf_provider: form.csrf_provider
            logout:       true
            anonymous:    true

        dev:
            pattern:  ^/(_(profiler|wdt)|css|images|js)/
            security: false

    access_control:
        - { path: ^/buy/checkout, role: ROLE_USER }
        - { path: ^/order,        role: ROLE_USER }
        - { path: ^/_wdt,         role: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/$,            role: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/buy/cart,     role: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/buy/food,     role: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/buy/?$,       role: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/login$,       role: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/register,     role: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/resetting,    role: IS_AUTHENTICATED_ANONYMOUSLY }
